* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
 
 
}
.header {
  height: 450px;
  background-image: url(./B12A01-landing-launchpad/Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.logo {
  color: blue;
  font-size: 30px;
  position: relative;
  left: -290px;
}
.btn {
  text-decoration: none;
  background-color: #4b62f2;
  color: #fff;
  padding: 7px 19px;
  border-radius: 10px;
  position: absolute;
  right: 220px;
  top: 40px;
}
.btn:hover {
  background-color: #c02271;
  transition: 0.5s;
}
.cool {
  position: relative;
  font-size: 40px;
  top: 100px;

}
.btn2 {
  position: absolute;
  top: 350px;
  left: 700px;
  padding: 10px 20px;
  background-color: #582872;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.btn2:hover {
  background-color: #8621de;
  transition: 0.5s;
}
/* frist section*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.frist_section {
  margin-top: 40px;
  height: 200px;
  width: 890px;
background-color: rgb(253, 254, 255);
border-radius: 10px;
}
.container {
  text-align: left;
}
.see{
margin-left: 20px;
}
.p1{
margin-left: 20px;
}
.btn3{
margin-left: 20px;
}
.img1{
    height: 190px ;
    width: 200px;
    position: relative;
    top: -126px;
    left: 690px;
    border-radius: 10px ;
}
.btn3{
    position: absolute;
    left: 318px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
color: #fff;
background-color: rgb(31, 31, 219);
    font-weight: bold;
    cursor: pointer;
}
.btn3:hover{
    background-color: #780BB8;
    transition: 0.5s;

}
/* frist section end*/


                 /*second section start*/
.sec{
display: flex;
 justify-content: center;
 
}
.second_section{
 
border-radius: 10px;
margin-top: 40px;
  height: 210px;
  width: 890px;
 background-color:#DEEDFF;

}

.how{
text-align: center;
margin-top: 24px;
font-weight: bold;
font-size: 26px;
}
.marking{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    position: relative;
    top: 30px;
}
.marking li {
    font-weight: bold;
    font-size: 50px;
    color: rgb(11, 11, 204);

}
.marking2{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    position: relative;
    top: 10px;
}

/*second section end*/


                /*third section start*/
.thr{
  
display: flex;
 justify-content: center;
padding: 8px 10px;
}
.desi{

margin-top: 40px;
  height: 360px;
  width: 890px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;

}

.imgposition{
  display: flex;
  gap: 1px;
}

.what{
position: absolute;
left: 40%;
  font-size: 36px;
  
}
.img3{
  margin-left: 10px;
  margin-top: 17px;
}
.card{

  width: 270px;
  height: 250px;
  background-color: #f4f5f7;
  border-radius: 10px;

}
.card h2,p{
  margin-left: 10px;
}
.img4{
border-radius: 50px;
margin-left: 10px;
}
.desi input{
position:absolute;
outline: none;
border: none;
padding: 5px;
background: none;

}
.desi label{
position:relative;



}

/*third section end*/

                    /*fourth section start*/  

.fourth_section{
display: flex;
 justify-content: center;
padding: 8px 10px;
border-radius: 10px;
margin-top: 40px;
  height: 460px;
  width: 890px;
  position: absolute;
  left: 300px;
  background-color: #f7f5f5;
  margin-bottom: 30px;
 
}


.red{
font-weight: bold;
font-size: 40px;
position: relative;
left: 95px;

        }  
 .p2{
  text-align: center;
        }     
.btn5{
  margin: 5px;
position: absolute;
left: 380px;
padding: 10px 15px;
border-radius: 10px;
border: none;
background-color: rgb(57, 123, 255);
color: #fff;
font-weight: bold;
cursor: pointer;


}
.btn5:hover{
  background-color: #B060DE;
  transition: 0.5s;
}
.img5{
  height: 230px;
  border-radius: 10px;
  position: relative;
  margin-top: 60px;
  width: 600px;
}
 /*fourth section end*/


 /*five section start*/
 .five-section{
 

 }

.main_five{
  border-radius: 10px;
  position: absolute;
  margin-top: 600px;
  left: 300px;
  height: 360px;
  width: 900px;
display: inline-block;
  background-color: #f8f6f6ea;

}
.fiveh1{
  font-size: 50px;
position: relative;
top: 80px;
margin-left: 10px;
}
.hello{
  display: flex;
}
.five_form{
position: absolute;
left: 450px;
top: 30px;

}
.five_form input[type="text"],textarea{
padding: 10px 15px;
height: 20px;
width: 400px;
display: block;
font-size: 16px;
border-radius: 7px;
border: none;
background-color: #fff;


}
.five_form textarea{
  max-width: 400px;
  max-height: 100px;
}
.btn6{
  color: #fff;
  padding: 7px 28px;
  background-color: #2076e6;
  font-weight: bold;
  border: none;
  border-radius: 10px; 
  margin-top: 20px;
cursor: pointer;
margin-bottom: 20px;
}
.btn6:hover{
  background-color: #942EE1;
  transition: 0.5s;
}
 /*five section end*/



          /*six section start*/
.fot_last{
display: flex;
position: relative;
top: 1000px;
justify-content: center;
align-items: center;
height: 350px;
background-color: #f9f8f8;
border-top: 2px solid #ddd;

}
.last{
text-align: center;
}
.last h1{
  font-weight: bold;
  font-size: 50px;
  color: #066aee;
}
.last ul{
  list-style: none;

}
.last li{
  display: inline-block;
}
.last li a{
  text-decoration: none;
  padding: 10px 17px;
  color: #0a0a0a;
  
}
.last li a:hover{
  border-bottom: 2px solid #000;

}
/*six section end*/